footer {
  background-color: var(--color-light-primary);

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem;

  > section {
    display: grid;
    place-items: center;
    gap: 1rem;

    > p {
      color: var(--color-dark-primary);
      font-size: larger;
      font-weight: bold;
    }

    > cite {
      color: var(--color-dark-secondary);
    }
  }
}
